.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid lightgray;
    .left{
        display: flex;
        align-items: center;
        gap: 10px;
        span{

        }
        .search{
            display: flex;

            input{

            }
        }

    }
    .right{
        display: flex;
        align-items: center;
        gap: 10px;
        .user{
            image{

            }
            span{

            }
        }

    }
}